* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(
      135deg,
      #708090 21px,
      #d9ecff 22px,
      #d9ecff 24px,
      transparent 24px,
      transparent 67px,
      #d9ecff 67px,
      #d9ecff 69px,
      transparent 69px
    ),
    linear-gradient(
        225deg,
        #708090 21px,
        #d9ecff 22px,
        #d9ecff 24px,
        transparent 24px,
        transparent 67px,
        #d9ecff 67px,
        #d9ecff 69px,
        transparent 69px
      )
      0 64px;
  background-color: #708090;
  background-size: 64px 128px;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  margin: 1em 0;
  color: darkorange;
}

p {
  font-size: 16px;
}

.button {
  display: block;
  background: darkorange;
  /* width: 280px; */
  margin: 2em auto 0;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  color: #fff !important;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  border-bottom: 0 !important;
  transition: 0.2s ease-in-out;
}
.button:hover {
  transform: scale(0.99);
  transition: 0.2s ease-in-out;
  border-radius: 2px;
}
